openapi: 3.0.0
info:
  version: '1.0'
  title: "hm-sls-backend"
servers:
- url: "https://devapi.hellomobility.nl"
  description: Development server
- url: "https://dwhapi.hellomobility.nl"
  description: PreProd server
- url: "https://api.hellomobility.nl/"
  description: Production server
 
paths:
  /v2/trips:
    get:
      tags:
        - Trips
      description: "trips"
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
       - in: query
         name: page
         schema:
            type: integer
            example: 1
       - in: query
         name: limit
         schema:
            type: integer
            example: 50
       - in: query
         name: vehicle_category
         schema:
            type: string
       - in: query
         name: vehicle
         schema:
            type: string
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Trips"
  /v2/trips-day-night-score:
      get:
        tags:
        - Trips
        parameters:
         - in: query
           name: organisation
           required: true
           schema:
              type: string
              example: 35
         - in: query
           name: from_date
           required: true
           schema:
              type: string
              example: 2022-01-01
         - in: query
           name: to_date
           required: true
           schema:
              type: string
              example: 2022-12-31
        responses:
          "200":
            description: 200 response
            content:
              application/json; charset=utf-8:
                 schema:
                   allOf:
                    - $ref: "#/components/schemas/TripsDayNightScore"
                    - example:
                        data:
                          - is_day_trip: true,
                            start_date_time: 2022-10-24
                            safe_score: "9.0"
                        message: "Data successful"
  /v2/drivers/{driverId}/road-type-distribution:
    get:
      tags:
        - Driver
      parameters:
       - in: path
         name: driverId
         required: true
         schema:
            type: string
            example: 32906
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverRoadTypeDistribution'
  /v2/vehicles/{vehicle_id}/day-night-score:
    get:
      tags:
        - Vehicle
      parameters:
       - in: path
         name: vehicle_id
         required: true
         schema:
            type: string
            example: 12262
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDayNightScore'
                - example:
                        data:
                          - is_day_trip: true,
                            start_date_time: 2022-09-28
                            safe_score: "9.0"
                        message: "Data successful"
  /v2/vehicles:
    get:
      tags:
        - Vehicle
      description: "vehicles"
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
       - in: query
         name: vehicle
         schema:
            type: string
       - in: query
         name: vehicle_category
         schema:
            type: string
       - in: query
         name: view
         schema:
            type: string
            example: "license_plate"
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Vehicles"
  /v2/vehicles/{vehicle_id}/scores:
    get:
      tags:
        - Vehicle
      parameters:
       - in: path
         name: vehicle_id
         required: true
         schema:
            type: string
            example: 12262
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleScore'
                - example:
                        data:
                          - date: 2022-09-27
                            safe_score: "9.0"
  /v2/vehicle/{vehicle_id}/details:
    get:
      tags:
        - Vehicle
      parameters:
       - in: path
         name: vehicle_id
         required: true
         schema:
            type: string
            example: 12262
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDetails'
  /v2/drivers/{driverId}/score:
    get:
      tags:
        - Driver
      parameters:
       - in: path
         name: driverId
         required: true
         schema:
            type: string
            example: 36639
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverScore'
  /v2/drivers/{driverId}:
    get:
      tags:
        - Driver
      parameters:
       - in: path
         name: driverId
         required: true
         schema:
            type: string
            example: 32913
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverDetails'
  /v2/drivers:
    get:
      tags:
        - Driver
      description: "drivers"
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Drivers" 
  /v2/drivers-report:
    get:
      tags:
        - Driver
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverReport'
  /v2/vehicles/category-by-organisation:
    get:
      tags:
        - Driver
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleCategoryByOrganisation'  
  /v2/user/user-list/{clientId}:
    get:
      tags:
        - Client
      description: "clientDetails"
      parameters:
       - in: path
         name: clientId
         required: true
         schema:
            type: string
            example: 307
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ClientDetails"
  /driving-summary:
    get:
      tags:
        - Dashboard
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DrivingSummary'
  /v2/trips-exception-type-distribution:
    get:
      tags:
        - Trips
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TripsExceptionTypeDistribution'
  /v2/exceptions:
    get:
      tags:
        - Exception
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 35
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-01-01
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2022-12-31
       - in: query
         name: page
         required: true
         schema:
            type: string
            example: 1
       - in: query
         name: limit
         required: true
         schema:
            type: string
            example: 50
       - in: query
         name: vehicle
         schema:
            type: string
       - in: query
         name: vehicle_category
         schema:
            type: string
       - in: query
         name: exception_type
         schema:
            type: string
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/Exceptions'
  /organisationsV2:
    get:
     tags:
        - Client
     responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/OrganisationsV2'
  /common/add-user:
    post:
      tags:
        - Client
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddUser'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AddUserResponse'
  /login:
    post:
      tags:
        - Auth
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/Login'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/LoginResponse'
  /client/create:
    post:
      tags:
        - Client
      parameters:
       - in: query
         name: language
         schema:
            type: string
            example: en
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddClient'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AddClientResponse'
  /v2/groups:
    get:
      tags:
        - Groups
      parameters:
       - in: query
         name: org_id
         required: true
         schema:
            type: string
            example: 35
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/Groups'
  /v2/group/info:
    get:
      tags:
        - Groups
      parameters:
       - in: query
         name: org_id
         required: true
         schema:
            type: string
            example: 197
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupsInfo'
  /v2/group/vehicle-list:
    get:
      tags:
        - Group-Vehicle
      parameters:
       - in: query
         name: org_id
         required: true
         schema:
            type: string
            example: 197
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupsVehicleList'
  /v2/group/users:
    get:
      tags:
        - Group-User
      parameters:
       - in: query
         name: org_id
         required: true
         schema:
            type: string
            example: 197
       - in: query
         name: user_type
         required: true
         schema:
            type: string
            example: 1
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupsUserList'
  /v2/group/company/users:
    get:
      tags:
        - Group-User
      parameters:
       - in: query
         name: org_id
         required: true
         schema:
            type: string
            example: 197
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/CompanyUsers'
  /v2/group/vehicle/assign-vehicle:
    post:
      tags:
        - Group-Vehicle
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AssignVehicleRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AssignVehicle'
  /v2/group/users/assign:
    post:
      tags:
        - Group-User
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AssignUsersRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AssignUsers'
  /v2/vehicle-top-listing:
    get:
      tags:
        - Dashboard
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-02-01 
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2023-01-31 
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleTopListing'
  /v2/vehicle/check-group-access:
    get:
      tags:
        - Vehicle
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49,59,61,60,58,307
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-02-01 
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2023-01-31 
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/CheckGroupAccess'
  /v2/group/vehicle/unassign:
    post:
      tags:
        - Group-Vehicle
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GroupVehicleUnassignRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupVehicleUnassign'
  /v2/group/vehicle/export:
    post:
      tags:
        - Group-Vehicle
      parameters:
       - in: query
         name: org_id
         required: true
         schema:
            type: string
            example: 197
       - in: query
         name: language
         required: true
         schema:
            type: string
            example: en 
       - in: query
         name: portal
         required: true
         schema:
            type: string
            example: GRIBB 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GroupVehicleExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupVehicleExport'
  /v2/vehicle/group-list:
    get:
      tags:
        - Group-Vehicle
      parameters:
       - in: query
         name: vehicle_id
         required: true
         schema:
            type: string
            example: 9598 
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/vehicleGroupList'
  /v2/trips-export:
    post:
      tags:
        - Trips
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 197
       - in: query
         name: language
         required: true
         schema:
            type: string
            example: en 
       - in: query
         name: portal
         required: true
         schema:
            type: string
            example: GRIBB 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TripExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupVehicleExport'
  /v2/driving-analytics-graph:
    get:
      tags:
        - Dashboard
      parameters:
       - in: query
         name: organisation
         required: true
         schema:
            type: string
            example: 97,204,209,211,205,210
       - in: query
         name: from_date
         required: true
         schema:
            type: string
            example: 2022-02-01 
       - in: query
         name: to_date
         required: true
         schema:
            type: string
            example: 2023-01-31
       - in: query
         name: score_type
         required: true
         schema:
            type: string
            example: safe_score
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/drivingAnalyticsGraph'
  /v2/driver/driver-list/{clientId}:
    get:
      tags:
        - Driver
      description: "Driver Client Details"
      parameters:
       - in: path
         name: clientId
         required: true
         schema:
            type: string
            example: 308
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DriverClientDetails"
  /v2/report-list:
    get:
      tags:
        - Client
      description: "Report List"
      parameters:
       - in: query
         name: organisation
         schema:
            type: string
            example: 101,74,75,76,77,102,103,108,109,122,123,124,110,112,113,114,115,125,83,84,86,87,88,89,93,95,96,99,49,104,105,106,107,117,81,50,116,79,51,118,119,70
       - in: query
         name: date
         schema:
            type: string
            example: 12-2022
       - in: query
         name: sortKey
         schema:
            type: string
            example: "org_id"
       - in: query
         name: sortBy
         schema:
            type: string
            example: "DESC"
       - in: query
         name: page
         schema:
            type: string
            example: "1"
       - in: query
         name: limit
         schema:
            type: string
            example: "100"         
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ClientReport"
  /client/list:
    get:
      tags:
        - Client
      description: "Client List"
      parameters:
       - in: query
         name: page
         schema:
            type: string
            example: "1"
       - in: query
         name: limit
         schema:
            type: string
            example: "100"         
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ClientList"
  /v2/driver/check-in-out/list:
    get:
      tags:
        - Driver Check In
      description: "Check In Out"
      parameters:
       - in: query
         name: organisation
         schema:
            type: string
            example: 299,300,301,81,82,84,79,46,45,78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49,29,181,30,32,180,33,4,281,283,284,282,285,286,69,50,2,219,167,220,222,223,230,221,224,226,225,218,227,228,231,232,233,234,51,54,55,57,59,61,60,58,63,64,62,66,67,68,65,70,71,72,73,74,169,135,307,76,77,75,308,174,175,176,173,235,166
       - in: query
         name: from_date
         schema:
            type: string
            example: 2022-11-01
       - in: query
         name: to_date
         schema:
            type: string
            example: 2023-01-31  
       - in: query
         name: page
         schema:
            type: string
            example: "1" 
       - in: query
         name: limit
         schema:
            type: string
            example: "50"         
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CheckInOut"
  /v2/group/create:
    post:
      tags:
        - Groups
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GroupCreateRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupCreate'
  /v2/group:
    post:
      tags:
        - Groups
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteGroupRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DeleteGroup'
  /v2/group/company/drivers:
    get:
      tags:
        - Group-Driver
      description: "Company driver"
      parameters:
       - in: query
         name: org_id
         schema:
            type: string
            example: 197        
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CompanyDriver"
  /v2/group/user/unassign:
    post:
      tags:
        - Groups
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GroupUserUnassignRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupUserUnassign'
  /v2/user/update:
    put:
      tags:
        - Client
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/UpdateClient'
  /v2/trips-event-type-distribution:
    get:
      tags:
        - Trips
      description: "Trips Event Type Distribution"
      parameters:
       - in: query
         name: organisation
         schema:
            type: string
            example: 299,300,301,81,82,84,79,46,45,78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49,29,181,30,32,180,33,4,281,283,284,282,285,286,69,50,2,219,167,220,222,223,230,221,224,226,225,218,227,228,231,232,233,234,51,54,55,57,59,61,60,58,63,64,62,66,67,68,65,70,71,72,73,74,169,135,307,76,77,75,308,174,175,176,173,235,166  
       - in: query
         name: from_date
         schema:
            type: string 
            example: 2022-11-01
       - in: query
         name: to_date
         schema:
            type: string
            example: 2023-01-31    
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TripsEventTypeDistribution"
  /v2/trips-road-type-distribution:
    get:
      tags:
        - Trips
      description: "Trips Event Type Distribution"
      parameters:
       - in: query
         name: organisation
         schema:
            type: string
            example: 299,300,301,81,82,84,79,46,45,78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49,29,181,30,32,180,33,4,281,283,284,282,285,286,69,50,2,219,167,220,222,223,230,221,224,226,225,218,227,228,231,232,233,234,51,54,55,57,59,61,60,58,63,64,62,66,67,68,65,70,71,72,73,74,169,135,307,76,77,75,308,174,175,176,173,235,166  
       - in: query
         name: from_date
         schema:
            type: string 
            example: 2022-02-01
       - in: query
         name: to_date
         schema:
            type: string
            example: 2023-01-31 
       - in: query
         name: score_type
         schema:
            type: string
            example: safe_score    
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TripsRoadTypeDistribution"
  /trips/{tripId}:
    get:
      tags:
        - Trips
      description: "Trip details" 
      parameters:
        - in: path
          name: tripId
          required: true
          schema:
            type: string
            example: '110000000000255205'
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TripDetails"
  /v2/trips-exception-counts:
    post:
      tags:
        - Trips
      description: "Trips Exception Count"
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TripExceptionCountRequestBody'      
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TripExceptionCount"
  /v2/driver-shift-score/{driver_check_in_out_id}:
    get:
      tags:
        - Driver Check In
      description: "Trips Exception Count" 
      parameters:
        - in: path
          name: driver_check_in_out_id
          required: true
          schema:
            type: string
            example: 109    
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ShiftScore"

  /identification/check-driver-access/{org_id}:
    get:
      tags:
        - Driver Check In
      description: "" 
      parameters:
        - in: path
          name: org_id
          required: true
          schema:
            type: string
            example: 109    
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CheckDriverAccess"
  /v2/drivers-export:
    post:
      tags:
        - Driver
      description: "" 
      parameters:
        - in: query
          name: organisation
          required: true
          schema:
            type: string
            example: 299,300,301,81,82,84,79,46,45,78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49,29,181,30,32,180,33,4,281,283,284,282,285,286,69,50,2,219,167,220,222,223,230,221,224,226,225,218,227,228,231,232,233,234,51,54,55,57,59,61,60,58,63,64,62,66,67,68,65,70,71,72,73,74,169,135,307,76,77,75,308,174,175,176,173,235,166   
        - in: query
          name: from_date
          schema:
            type: string
            example: 2022-02-01
        - in: query
          name: to_date
          schema:
            type: string
            example: 2023-01-31
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB
        - in: query
          name: language
          schema:
            type: string
            example: en
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriversExportRequestBody'
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DriversExport"
  /v2/trips/report:
    get:
      tags:
        - Trips
      description: "" 
      parameters:
        - in: query
          name: vehicle
          schema:
            type: string
            example: 12607
        - in: query
          name: driver
          schema:
            type: string
        - in: query
          name: vehicle_category
          schema:
            type: string   
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TripsReport"
  /v2/user/details:
    get:
      tags:
        - Client
      description: "" 
      parameters:
        - in: query
          name: user_id
          schema:
            type: string
            example: 1  
      responses:
        "200":
          description: 200 response
          content:
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserDetails"
  /v2/user/update-driver:
    put:
      tags:
        - Client
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateDriverRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/UpdateDriver'
  /v2/vehicles-export:
    post:
      tags:
        - Vehicle
      parameters:
        - in: query
          name: organisation
          required: true
          schema:
            type: string
            example: 299,300,301,81,82,84,79,46,45,78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49,29,181,30,32,180,33,4,281,283,284,282,285,286,69,50,2,219,167,220,222,223,230,221,224,226,225,218,227,228,231,232,233,234,51,54,55,57,59,61,60,58,63,64,62,66,67,68,65,70,71,72,73,74,169,135,307,76,77,308,174,175,176,173,319,317,320,318,310,235,166
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            example: 2022-02-01
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            example: 2023-01-31
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB  
        - in: query
          name: language
          schema:
            type: string
            example: en    
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VehicleExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleExport'
  /v2/exceptions-export:
    post:
      tags:
        - Exception
      parameters:
        - in: query
          name: organisation
          required: true
          schema:
            type: string
            example: 299,300,301,81,82,84,79,46,45,78,10,12,13,15,16,17,107,111,112,110,118,120,119,109,114,115,116,117,19,20,21,198,199,27,28,34,179,172,197,204,209,211,205,210,200,206,207,208,201,202,203,212,213,215,216,214,217,229,36,38,39,192,194,195,193,196,40,6,7,8,9,49,29,181,30,32,180,33,4,281,283,284,282,285,286,69,50,2,219,167,220,222,223,230,221,224,226,225,218,227,228,231,232,233,234,51,54,55,57,59,61,60,58,63,64,62,66,67,68,65,70,71,72,73,74,169,135,307,76,77,308,174,175,176,173,319,317,320,318,310,235,166
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            example: 2022-02-01
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            example: 2023-01-31
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB  
        - in: query
          name: language
          schema:
            type: string
            example: en    
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ExceptionsExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ExceptionsExport'
  /v2/report-export:
    post:
      tags:
        - Client
      parameters:
        - in: query
          name: organisation
          required: true
          schema:
            type: string
            example: 35
        - in: query
          name: date
          required: true
          schema:
            type: string
            example: 01-2022
        - in: query
          name: sortKey
          schema:
            type: string
            example: org_id
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB  
        - in: query
          name: language
          schema:
            type: string
            example: en  
        - in: query
          name: sortBy
          schema:
            type: string
            example: DESC   
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ReportExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ReportExport'
  /v2/client-user-management/user/export:
    post:
      tags:
        - Client
      parameters:
        - in: query
          name: org_id
          required: true
          schema:
            type: string
            example: 172
        - in: query
          name: user_type
          schema:
            type: string
            example: 0
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB
        - in: query
          name: language
          schema:
            type: string
            example: en  
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ClientUserExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ClientUserExport'
  /v2/client-user-management/driver/export:
    post:
      tags:
        - Client
      parameters:
        - in: query
          name: organisation
          required: true
          schema:
            type: string
            example: 172
        - in: query
          name: user_type
          schema:
            type: string
            example: 1
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB
        - in: query
          name: language
          schema:
            type: string
            example: en  
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ClientDriverExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ClientDriverExport'
  /v2/group/user/export:
    post:
      tags:
        - Group-User
      parameters:
        - in: query
          name: org_id
          required: true
          schema:
            type: string
            example: 172
        - in: query
          name: user_type
          schema:
            type: string
            example: 0
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB
        - in: query
          name: language
          schema:
            type: string
            example: en  
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GroupUserExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GroupUserExport'
  /v2/driver-shift:
    get:
      tags:
        - Driver Check In
      parameters:
        - in: query
          name: vehicle
          required: true
          schema:
            type: string
            example: 12607
        - in: query
          name: page
          schema:
            type: string
            example: 1
        - in: query
          name: limit
          schema:
            type: string
            example: 50
        - in: query
          name: vehicle_category
          schema:
            type: string  
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverShift'
  
  /v2/drivers/worst-trips:
    get:
      tags:
        - Driver
      parameters:
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            example: 2022-01-01
        - in: query
          name: to_date
          schema:
            type: string
            example: 2022-12-31
        - in: query
          name: driver
          schema:
            type: string
            example: 32906
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverWorstTrips'
  /vehicle-document-checklist/exports:
    post:
      tags:
        - Vehicle
      parameters:
        - in: query
          name: org_id
          required: true
          schema:
            type: string
            example: 172
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB
        - in: query
          name: language
          schema:
            type: string
            example: en  
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VehicleDocumentCheckListRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDocumentCheckList'
  /vehicle/damages/exports:
    post:
      tags:
        - Vehicle
      parameters:
        - in: query
          name: vehicle_id
          required: true
          schema:
            type: string
            example: 12607
        - in: query
          name: view
          required: true
          schema:
            type: string
            example: driver
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB
        - in: query
          name: language
          schema:
            type: string
            example: en  
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VehicleDamagesExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDamagesExport'
  /pre-vehicle-driver-declarations/exports:
    post:
      tags:
        - Vehicle
      parameters:
        - in: query
          name: driver_check_in_out_id
          required: true
          schema:
            type: string
            example: 78
        - in: query
          name: portal
          schema:
            type: string
            example: GRIBB
        - in: query
          name: language
          schema:
            type: string
            example: en  
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PreVehicleDriverDeclarationRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/PreVehicleDriverDeclaration'
  /logout:
    get:
      tags:
        - Auth
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/Logout'
  /forgot-password:
    post:
      tags:
        - Auth
      parameters:
        - in: query
          name: language
          schema:
            type: string
            example: en  
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ForgotPasswordRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ForgotPassword'
  /reset-password:
    post:
      tags:
        - Auth
      parameters:
        - in: query
          name: accessKey
          schema:
            type: string 
            example: "something" 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ResetPasswordRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ResetPassword'
  /change-password:
    post:
      tags:
        - Auth
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ChangePasswordRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ChangePassword'
  /profile/{adminId}:
    put:
      tags:
        - Client
      parameters:
        - in: path
          name: adminId
          required: true
          schema:
            type: string
            example: 1 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ProfileRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/Profile'
  /profile:
    get:
      tags:
        - Client
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GetProfile'
  /profile/color-code:
    put:
      tags:
        - Client
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ProfileColorRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ProfileColor'
  /client/update/{clientUserId}:
    put:
      tags:
        - Client
      parameters:
        - in: path
          name: clientUserId
          required: true
          schema:
            type: string
            example: 320
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ClientUpdateRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ClientUpdate'
  /client/archived/{client_id}:
    put:
      tags:
        - Client
      parameters:
        - in: path
          name: client_id
          required: true
          schema:
            type: string
            example: 320
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ClientArchived'
  /client/resource/list:
    post:
      tags:
        - Trips
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ClientResourceList'
  /trips/alerts:
    post:
      tags:
        - Trips
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TripsAlertRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TripsAlert'
  /v2/mobile/driving-analytics-graph:
    get:
      tags:
        - Dashboard
      parameters:
        - in: query
          name: organisation
          required: true
          schema:
            type: string
            example: 172
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/MobileDrivingAnalyticsGraph'
  /tsp-companies:
    get:
      tags:
        - Dashboard
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TspCompanies'    
  /driver/check-in-out/info:
    get:
      tags:
        - Driver Check In
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
            example: 1
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverCheckInOutInfo'
  /driver/check-in-out/out:
    put:
      tags:
        - Driver Check In
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverCheckedOutRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverCheckedOut'
  /driver/check-in-out/in:
    post:
      tags:
        - Driver Check In 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverCheckInRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverCheckIn'
  /vehicle/{vehicleId}/damages:
    get:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: vehicleId
          required: true
          schema:
            type: integer
            example: 12664
        - in: query
          name: view
          schema:
            type: string
            example: 'driver'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDamage'
    post:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: vehicleId
          required: true
          schema:
            type: integer
            example: 12664
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddVehicleDamageRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AddVehicleDamage'
  /vehicle/{vehicleId}/damages/{damageId}:
    get:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: vehicleId
          required: true
          schema:
            type: integer
            example: 12664
        - in: path
          name: damageId
          required: true
          schema:
            type: integer
            example: 3
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDamageDetails'  
  /vehicle/{vehicleId}/damages/{damageId}/resolve:
    post:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: vehicleId
          required: true
          schema:
            type: integer
            example: 12664
        - in: path
          name: damageId
          required: true
          schema:
            type: integer
            example: 3
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VehicleDamageResolutionRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDamageResolution'
  /vehicle-document-checklist/{org_id}:
    get:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: org_id
          required: true
          schema:
            type: integer
            example: 172
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDocumentCheckListOrg'  
  /pre-vehicle-driver-declarations/{driver_check_in_out_id}:
    get:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: driver_check_in_out_id
          required: true
          schema:
            type: integer
            example: 78
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/PreVehicleDriverDeclaration2' 
  /vehicle-document-checklist/{org_id}/questions:
    post:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: org_id
          required: true
          schema:
            type: integer
            example: 172
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VehicleDocumentCheckListQuestionsRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDocumentCheckListQuestions' 
  /vehicle-document-checklist/{org_id}/questions/{questionId}:
    put:
      tags:
        - Driver Check In

      parameters:
        - in: path
          name: org_id
          required: true
          schema:
            type: integer
            example: 172
        - in: path
          name: questionId
          required: true
          schema:
            type: integer
            example: 35
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VehicleDocumentCheckListOrgQuestionsRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDocumentCheckListQuestions'
    delete:
      tags:
        - Driver Check In
      parameters:
        - in: path
          name: org_id
          required: true
          schema:
            type: integer
            example: 172
        - in: path
          name: questionId
          required: true
          schema:
            type: integer
            example: 35
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleDocumentCheckListQuestionsDelete'
  /drivers/login:
    post:
      tags:
        - Driver 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverLoginRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverLogin'
  /drivers/forgot-password:
    post:
      tags:
        - Driver 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverForgotPasswordRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverForgotPassword'
  /drivers/change-password:
    post:
      tags:
        - Driver 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverChangePasswordRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverChangePassword'
  /drivers/update-profile:
    post:
      tags:
        - Driver 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverUpdateProfileRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverUpdateProfile'     
  /identification/driverList:
    get:
      tags:
        - Driver
      parameters:
        - in: query
          name: page
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: limit
          required: true
          schema:
            type: integer
            example: 50
        - in: query
          name: organisation
          required: true
          schema:
            type: integer
            example: 172
        - in: query
          name: from_date
          schema:
            type: string
            example: 2022-01-01
        - in: query
          name: to_date
          schema:
            type: string
            example: 2022-12-31
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/IdentificationDriverList' 
  /drivers/reset-password:
    post:
      tags:
        - Driver 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverResetPasswordRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverResetPassword'
  /drivers/createGoal:  
    post:
      tags:
        - Driver 
      parameters:
      - in: query
        name: goal_enabled
        schema:
          type: boolean
          example: true
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverCreateGoalRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverCreateGoal'
  /drivers/updateGoal:
    put:
      tags:
        - Driver 
      parameters:
      - in: query
        name: goal_enabled
        schema:
          type: boolean
          example: true
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverUpdateGoalRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverUpdateGoal'
  /drivers/goal:
    get:
      tags:
        - Driver
      parameters:
        - in: query
          name: driver_id
          required: true
          schema:
            type: integer
            example: 36591
        - in: query
          name: goal_date
          schema:
            type: string
            example: "2022-07-26"
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/GetDriverGoal'
  /drivers/verifyOtp:
    post:
      tags:
        - Driver 
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DriverOTPVerificationRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriverOTPVerification'
  /drivers/goalGraph:
    get:
      tags:
        - Driver
      parameters:
        - in: query
          name: driver_id
          required: true
          schema:
            type: integer
            example: 36591
        - in: query
          name: exception_type
          required: true
          schema:
            type: string
            example: "speed"
        - in: query
          name: from_date
          schema:
            type: string
            example: "2022-01-01"
        - in: query
          name: to_date
          schema:
            type: string
            example: "2022-12-31"
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/DriversGoalGraph'
  /vehicle/scoreComparision:
    get:
      tags:
        - Score Comparison
      parameters:
        - in: query
          name: org_id
          required: true
          schema:
            type: integer
            example: 26
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            example: "2022-01-01"
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            example: "2022-12-31"
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ScoreComparison'
  /drivers/scoreComparision:
    get:
      tags:
        - Score Comparison
      parameters:
        - in: query
          name: org_id
          required: true
          schema:
            type: integer
            example: 26
        - in: query
          name: from_date
          required: true
          schema:
            type: string
            example: "2022-01-01"
        - in: query
          name: to_date
          required: true
          schema:
            type: string
            example: "2022-12-31"
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ScoreComparison'
  /vehicles/report:
    get:
      tags:
        - Vehicle
      parameters:
        - in: query
          name: organisation
          required: true
          schema:
            type: integer
            example: 26
        - in: query
          name: custom_filter
          required: true
          schema:
            type: boolean
            example: true
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/VehicleReport'
  /check-in-out/trip-list:
    get:
      tags:
        - Trips
      parameters:
        - in: query
          name: driver_check_in_out_id
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: page
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: limit
          required: true
          schema:
            type: integer
            example: 50
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/CheckInoutTripList'
  /organisations/{orgId}/tsps:
    get:
      tags:
        - Tsps
      parameters:
        - in: query
          name: view
          schema:
            type: string
            example: Other
        - in: path
          name: orgId
          required: true
          schema:
            type: integer
            example: 172
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TspList'
  /organisations/{orgId}/tsps/create:
    post:
      tags:
        - Tsps
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: integer
            example: 300
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddTspRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AddTsp'
  /organisations/{orgId}/tsps/{tsp_orgId}/archive:
    put:
      tags:
        - Tsps
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: integer
            example: 332
        - in: path
          name: tsp_orgId
          required: true
          schema:
            type: integer
            example: 333
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ArchiveTspRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ArchiveTsp'
  /organisations/{orgId}/tsps/{tsp_orgId}:
    put:
      tags:
        - Tsps
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: integer
            example: 300
        - in: path
          name: tsp_orgId
          required: true
          schema:
            type: integer
            example: 306
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateTspRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/UpdateTsp'
  /organisations/{orgId}/tsps/clientAssetsCount:
    get:
      tags:
        - Tsps
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
            example: 76
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/clientAssetsCount'
  /organisations/{orgId}/tsps/{tsp_orgId}/details:
    get:
      tags:
        - Tsps
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
            example: 332
        - in: path
          name: tsp_orgId
          required: true
          schema:
            type: string
            example: 333
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TspDetails'
  /organisations/{orgId}/tsps/ingestion-alert:
    get:
      tags:
        - Tsps
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
            example: 332
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/IngestionData'
  /organisations/{orgId}/tsps/export:
    post:
      tags:
        - Tsps
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: integer
            example: 76
        - in: query
          name: language
          required: true
          schema:
            type: string
            example: en
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TspExportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TspExport'
  /v2/organisations/tsp-verification:
    post:
      tags:
        - Tsps
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddTspRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TspVerification'
  /organisations/tsps:
    get:
      tags:
        - Tsps
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/OrganisationTsps'
  /contact-support:
    post:
      tags:
        - Driver app
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactSupportRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/ContactSupport'
  /jira-ticket:
    post:
      tags:
        - Driver app
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/JiraTicketRequestBody'
      responses:
        "200":
          description: "200 response"
  /appversion/{app_name}/{os_type}:
    get:
      tags:
        - Driver app
      parameters:
        - in: path
          name: app_name
          required: true
          schema:
            type: string
            example: "gribb"
        - in: path
          name: os_type
          required: true
          schema:
            type: integer
            example: 1
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AppVersion'
  /appversion:
    post:
      tags:
        - Driver app
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AppVersionRequestBody'
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/AddAppVersion' 
  /trips/{tripId}/exceptions:
    get:
      tags:
        - Trips
      parameters:
        - in: path
          name: tripId
          required: true
          schema:
            type: integer
            example: 400000000000108861
      responses:
        "200":
          description: "200 response"
          content:
            application/json; charset=utf-8:
              schema:
               allOf:
                - $ref: '#/components/schemas/TripException'

    
     
    
components:
  schemas:
    Trips:
      title: Trips
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TripList'
      example:
        data:
          count: 1
          rows:
          - id: '700000000000085806'
            vehicle_id: 12626
            start_date_time: "2022-10-24T06:40:11.000Z"
            stop_date_time: "2022-10-24T07:15:15.000Z"
            distance: 51
            start_location_address: "1e wormenseweg 504 apeldoorn 7333gz"
            stop_location_address: "De Driest 18 Nijkerk 3861RD"
            start_latitude: "52.191685"
            start_longitude: "5.974643"
            finish_latitude: "52.240708"
            finish_longitude: "5.481243"
            license_plate: "V-885-KX"
            total_exception: 0
            safe_score: "9.0"
            driver_detail: {
                              id: 36591,
                              first_name: "De**",
                              last_name: "De**",
                              email: "demo@gribb.tech"
                            }
    TripList:
      title: TripList
      required:
      - count
      - rows
      type: object
      properties:
        count:
          type: integer
          format: int32
        rows:
          type: array
          items:
            $ref: '#/components/schemas/Row'
          description: ''
      example:
        count: 1
        rows:
        - id: '700000000000085806'
          vehicle_id: 12626
          start_date_time: "2022-10-24T06:40:11.000Z"
          stop_date_time: "2022-10-24T07:15:15.000Z"
          distance: 51
          start_location_address: "1e wormenseweg 504 apeldoorn 7333gz"
          stop_location_address: "De Driest 18 Nijkerk 3861RD"
          start_latitude: "52.191685"
          start_longitude: "5.974643"
          finish_latitude: "52.240708"
          finish_longitude: "5.481243"
          license_plate: "V-885-KX"
          total_exception: 0
          safe_score: "9.0"
    Row:
      title: Row
      required:
      - id
      - vehicle_id
      - start_date_time
      - stop_date_time
      - distance
      - start_location_address
      - stop_location_address
      - start_latitude
      - stop_latitude
      - finish_latitude
      - finish_longitude
      - license_plate
      - total_exception
      - safe_score
      - driver_detail
      type: object
      properties:
        id:
          type: string
        vehicle_id:
          type: integer
          format: int32
        start_date_time:
          type: string
        stop_date_time:
          type: string
        distance:
          type: integer
          format: int32
        start_location_address:
          type: string
        stop_location_address:
          type: string
        start_latitude:
          type: string
        stop_latitude:
          type: string
        finish_latitude:
          type: string
        finish_longitude:
          type: string
        license_plate:
          type: string
        total_exception:
          type: integer
          format: int32
        safe_score:
          type: string
        driver_detail:
          $ref: '#/components/schemas/DriverDetail'
      example:
        id: '700000000000085806'
        vehicle_id: 12626
        start_date_time: "2022-10-24T06:40:11.000Z"
        stop_date_time: "2022-10-24T07:15:15.000Z"
        distance: 51
        start_location_address: "1e wormenseweg 504 apeldoorn 7333gz"
        stop_location_address: "De Driest 18 Nijkerk 3861RD"
        start_latitude: "52.191685"
        start_longitude: "5.974643"
        finish_latitude: "52.240708"
        finish_longitude: "5.481243"
        license_plate: "V-885-KX"
        total_exception: 0
        safe_score: "9.0"
    DriverDetail:
      title: DriverDetail
      required:
      - id 
      - first_name
      - last_name
      - email 
      type: object
      properties:
        id:
          type: integer
          format: int32
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
      example:
        id: 36591
        first_name: "De**"
        last_name: "De**"
        email: "demo@gribb.tech"
    TripsDayNightScore:
        title: TripDayNightScore
        required:
          - data 
          - message
        type: object
        properties:
          data:
            type: array
            items:
             $ref: '#/components/schemas/TripDayNightScoreRow'
          message:
            type: string
        example:
            data:
              is_day_trip: true
              start_date_time: "2022-10-24"
              safe_score: "9.0"
            message: "Data successful"
    TripDayNightScoreRow:
        title: TripDayNightScoreRow
        required:
          - is_day_trip 
          - start_date_time
          - safe_score
        type: object
        properties:
          is_day_trip:
            type: boolean
          start_date_time:
            type: string
          safe_score:
            type: string
        example:
              is_day_trip: true
              start_date_time: "2022-10-24"
              safe_score: "9.0"
    DriverRoadTypeDistribution:
      title: DriverRoadTypeDistribution
      required:
        - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RoadTypeDistribution'
    RoadTypeDistribution:
       title: RoadTypeDistibution
       required:
         - data
       type: array
       items:
        $ref: '#/components/schemas/RoadTypeDistributionObject'
    RoadTypeDistributionObject:
        title: RoadTypeDistributionObject
        required:
          - contribution_value
          - road_factor_name
          - road_factor_type
        type: object
        properties:
          contribution_value:
            type: integer
            format: int32
          road_type_name:
            type: string
          road_type_value:
            type: string
        example:
           contribution_value: 26.72
           road_type_name: "00-30 kmph"
           road_type_type: "roadFactor1"
    VehicleDayNightScore:
        title: VehicleDayNightScore
        required:
          - data 
          - message
        type: object
        properties:
          data:
            type: array
            items:
             $ref: '#/components/schemas/VehicleDayNightScoreRow'
          message:
            type: string
        example:
            data:
              is_day_trip: true
              start_date_time: "2022-09-28"
              safe_score: "9.0"
            message: "Data successful"
    VehicleDayNightScoreRow:
        title: VehicleDayNightScoreRow
        required:
          - is_day_trip 
          - start_date_time
          - safe_score
        type: object
        properties:
          is_day_trip:
            type: boolean
          start_date_time:
            type: string
          safe_score:
            type: string
        example:
              is_day_trip: true
              start_date_time: "2022-09-28"
              safe_score: "9.0"
    Vehicles:
      title: Vehicles
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/VehiclesList'
      example:
        data:
          count: 1
          rows:
          - id: 12869
            org_id: 12
            license_plate: "VP**"
            fuel_type: "D"
            make: "CITROEN"
            model: "Jumper"
            vin: "VF7YDCPFC12U59524"
            mileage: "0.000000"
            vehicle_category: {
              id: 12,
              name: "car"
            }
            vehicle_score: 0
            speed_score: 0
            idiling_score: 0
            breaking_score: 0
            acclaration_score: 0
            harsh_event: 0
            total_trips: 0
            total_distance: "0.00"
            parent_node: 49
            groups: []
    VehiclesList:
      title: VehiclesList
      required:
      - count
      - rows
      type: object
      properties:
        count:
          type: integer
          format: int32
        rows:
          type: array
          items:
            $ref: '#/components/schemas/VehicleRow'
          description: ''
      example:
        count: 1
        rows:
        - id: 12869
          org_id: 12
          license_plate: "VP**"
          fuel_type: "D"
          make: "CITROEN"
          model: "Jumper"
          vin: "VF7YDCPFC12U59524"
          mileage: "0.000000"
          vehicle_category: {
              id: 12,
              name: "car"
            }
          vehicle_score: 0
          speed_score: 0
          idiling_score: 0
          breaking_score: 0
          acclaration_score: 0
          harsh_event: 0
          total_trips: 0
          total_distance: "0.00"
          parent_node: 49
          groups: []
    VehicleRow:
      title: VehicleRow
      required:
      - id
      - org_id
      - license_plate
      - make
      - model
      - vin
      - mileage
      - vehicle_category
      - vehicle_score
      - idiling_score
      - breaking_score
      - acclaration_score
      - total_exception
      - harsh_event
      - total_trips
      - total_distance
      - parent_node
      - groups
      type: object
      properties:
        id:
          type: integer
          format: int32
        org_id:
          type: integer
          format: int32
        license_plate:
          type: string
        make:
          type: string
        model:
          type: string
        vin:
          type: string
        mileage:
          type: string
        vehicle_caegory:
          type: object
        vehicle_score:
          type: string
        idiling_score:
          type: string
        breaking_score:
          type: string
        acclaration_score:
          type: string
        harsh_event:
          type: integer
          format: int32
        total_trips:
          type: string
        total_distance:
          type: string
        parent_node:
          type: string
      example:
        id: 12869
        org_id: 12
        license_plate: "VP**"
        fuel_type: "D"
        make: "CITROEN"
        model: "Jumper"
        vin: "VF7YDCPFC12U59524"
        mileage: "0.000000"
        vehicle_category: {
              id: 12,
              name: "car"
            }
        vehicle_score: 0
        speed_score: 0
        idiling_score: 0
        breaking_score: 0
        acclaration_score: 0
        harsh_event: 0
        total_trips: 0
        total_distance: "0.00"
        parent_node: 49
        groups: [] 
    VehicleScore:
        title: VehicleScore
        required:
          - data 
        type: object
        properties:
          data:
            type: array
            items:
             $ref: '#/components/schemas/VehicleScoreRow'
          message:
            type: string
        example:
            data:
              date: "2022-09-27"
              safe_score: "9.0"
    VehicleScoreRow:
        title: VehicleScoreRow
        required:
          - date 
          - safe_score
        type: object
        properties:
          date:
            type: string
          safe_score:
            type: string
        example:
              date: "2022-09-27"
              safe_score: "7.6" 
    VehicleDetails:            
        title: VehicleDetails
        required:
          - data 
        type: object
        properties:
          data:
            $ref: '#/components/schemas/VehicleDetailsRow'
        example:
              data:
                id: 12664
                org_id: 12
                license_plate: "VP**"
                fuel_type: "D"
                make: "CITROEN"
                model: "Jumper"
                vin: "VF7YDCPFC12U59524"
                mileage: "0.000000"
                vehicle_score: 0
                speed_score: 0
                idiling_score: 0
                breaking_score: 0
                acclaration_score: 0
                harsh_event: 0
                total_trips: 0
                total_distance: "0.00"
                last_location:
                 {
                  id: "200000000000540038",
                  latitude: "51.898010",
                  longitude: "4.509875",
                  createdAt: "2022-10-22T20:00:56.384Z"
                 }
    VehicleDetailsRow:            
        title: VehicleDetailsRow
        required:
          - id
          - org_id
          - license_plate
          - make
          - model
          - vin
          - mileage 
          - last_location
          - vehicle_score
          - speed_score
          - idiling_score
          - breaking_score
          - cornering_score
          - acclaration_score
          - total_trips
          - total_distance
        type: object
        properties:
            id:
              type: integer
              format: int32
            org_id:
              type: integer
              format: int32
            license_plate:
              type: string
            make:
              type: string
            model:
              type: string
            vin:
              type: string
            mileage:
              type: string
            vehicle_caegory:
              type: object
            vehicle_score:
              type: string
            idiling_score:
              type: string
            breaking_score:
              type: string
            cornering_score:
              type: string
            speed_score:
              type: string
            acclaration_score:
              type: string
            harsh_event:
              type: integer
              format: int32
            total_trips:
              type: string
            total_distance:
              type: string
            last_location:
              type: object
        example:
              data:
                id: 12664
                org_id: 12
                license_plate: "VP**"
                fuel_type: "D"
                make: "CITROEN"
                model: "Jumper"
                vin: "VF7YDCPFC12U59524"
                mileage: "0.000000"
                vehicle_score: 0
                speed_score: 0
                idiling_score: 0
                breaking_score: 0
                acclaration_score: 0
                harsh_event: 0
                total_trips: 0
                total_distance: "0.00"
                last_location:
                 {
                  id: "200000000000540038",
                  latitude: "51.898010",
                  longitude: "4.509875",
                  createdAt: "2022-10-22T20:00:56.384Z"
                 }
    DriverScore:
        title: DriverScore
        required:
          - data 
        type: object
        properties:
          data:
            $ref: '#/components/schemas/DriverScoreData'
    DriverScoreData:
        title: DriverScoreData
        required:
          - safe_score
          - speed
          - idling
          - acceleration
          - breaking
          - cornering
        type: object
        properties:
          safe_score:
            type: string
          speed:
            type: string
          idling:
            type: string
          acceleration:
            type: string
          breaking:
            type: string
          cornering:
            type: string
        example:
          safe_score : "1001"
          speed: "1001"
          idling: "1001"
          acceleration: "1001"
          breaking: "1001"
          cornering: "1001"  
    DriverDetails:            
        title: DriverDetails
        required:
          - data 
        type: object
        properties:
          data:
            $ref: '#/components/schemas/DriverDetailsData' 
    DriverDetailsData:            
        title: DriverDetailsData
        required:
          - id
          - first_name
          - last_name
          - email
          - org_id
          - total_rides
          - total_vehicles
          - avg_speed
          - totalMinutes
          - driving_behaviour
          - total_distance
          - last_driver_vehicle 
        type: object
        properties:
          id:
           type: integer
           format: int32 
          first_name: 
           type: string
          last_name: 
           type: string 
          email: 
           type: string 
          org_id:
           type: integer
           format: int32 
          total_rides: 
           type: string 
          total_vehicles: 
           type: string 
          avg_speed: 
           type: string
          totalMinutes: 
           type: object
          driving_behaviour: 
           type: string
          total_distance: 
           type: string
          last_driver_vehicle: 
           type: string
        example:
          id: 32913
          first_name: "Dr**"
          last_name: null
          email: null
          org_id : 12
          total_rides: "3486"
          total_vehicles: "89"
          avg_speed: "40.7478198881239243"
          totalMinutes: {
            dayTripMinute: 24129,
            nightTripMinute: 2216
          } 
          driving_behaviour: "7.0"
          total_distance: 15526
          last_driver_vehicle: "V6**" 
    Drivers:
      title: Drivers
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DriverList'
    DriverList:
      title: DriverList
      required:
      - count
      - rows
      type: object
      properties:
        count:
[...]
